.header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    font-family: "Ultra", serif;
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
    padding: 0.58rem;
    text-shadow: 1px 1px 1px rgb(159, 126, 76);
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    /* overflow: hidden; */
    background-color: black;
}

.left2 {
    grid-row: 1/2;
    width: 100vw;
    padding: 0;
}

.stranger {
    width: 70%;
}

.warn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(218, 202, 181);
    text-shadow: 1px 1px 1px rgb(159, 126, 76);
}

h2 {
    color: white;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}

p {
    color: white;
    letter-spacing: 2pt;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 12px;
}

img.pins {
    width: 40%;
}

@media (min-width: 325px) {
    .advisory {
        background-color: black;
        width: 100vw;
        /* margin-top: 3rem; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .label {
        margin-top: 15px;
        width: 6rem;
        border: 1px solid white;
    }
    .bowl {
        background-color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    a {
        background-color: black;
    }
    img.pins {
        width: 60%;
    }
    .letsGo {
        position: relative;
        margin-top: -3rem;
    }
}

@media (min-width: 700px) {
    .container2 {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin: 0;
    }
    .box {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
    }
    .left2 {
        flex: 1;
    }
    .stranger {
        grid-column: 1/4;
        grid-row: 1/5;
        width: 100%;
        height: 100%;
        display: block;
    }
    .right2 {
        flex: 2;
        font-family: "Roboto Condensed", sans-serif;
        color: rgb(218, 202, 181);
        text-shadow: 1px 1px 1px rgb(159, 126, 76);
    }
    h2 {
        font-size: 1.2rem;
    }
    p {
        margin-top: 2rem;
        font-size: 1rem;
    }
    .advisory {
        margin-top: 2.37rem;
        flex-direction: flex-end;
    }
    a {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding-bottom: 0.1rem;
    }
    img.pins {
        width: 30%;
    }
    .letsGo {
        font-family: "Ultra", serif;
        font-weight: 200;
        color: white;
        text-shadow: 1px 1px 1px rgb(159, 126, 76);
    }
}

@media (min-width: 1100px) {
    .box {
        margin-top: 0;
    }
    .container2 {
        margin-top: -3.1rem;
    }
    .advisory {
        margin-top: 0;
    }
}